[Unit]
Description=Kubernetes Scheduler
Documentation=https://kubernetes.io/docs/reference/generated/kube-scheduler/

[Service]
ExecStart=${BIN_DIR}/kube-scheduler \
--config=/etc/kubernetes/config/kube-scheduler.yaml

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target